// Tipografías
$tipografia-principal: 'Courier New', Courier, monospace;

// Backgrounds
$background-principal: rgba(228, 207, 177, 0.877);
$background-secundario: black;

// Color letras
$color-principal: black;
$color-secundario: rgba(228, 207, 177, 0.877);