.info{
    a:hover{
        background-color: $background-secundario;
        color: $color-secundario;
    }
    a{
        text-decoration: none;
        font-style: none;
        color: $color-principal;
        background-color: $background-principal;
        border-color: $color-principal;
        border-width: 3px;
        border-style:inset;
        font-size: 20px;
        display: flex;
        justify-content: center;
        width: 180px;
        transition: background-color .5s;
    }
}