main {
    min-height: 60vh;
    margin-left: 10px;
    margin-right: 10px;
    }
.historia-sherlock-holmes {
    padding: 0 3%;
}
.titulo-historia {
    text-align: center;
    background-color: $background-principal;
    font-size: 50px;
}
.contenido-historia {
    text-align: left;
    background-color: $background-principal;
    font-size: 18px;
    align-items: center;
}